In [1]:
import pandas as pd

shop_data = pd.read_csv('data/02_shopping_tran.txt',
                       dtype={'RCT_NO':'str','PD_S_C':'str'})
shop_data.columns = shop_data.columns.str.lower()

shop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3641082 entries, 0 to 3641081
Data columns (total 9 columns):
id          int64
rct_no      object
biz_unit    object
pd_s_c      object
br_c        int64
de_dt       int64
de_hr       int64
buy_am      int64
buy_ct      int64
dtypes: int64(6), object(3)
memory usage: 250.0+ MB

In [2]:
shop_data.head()

     id  rct_no biz_unit pd_s_c  br_c     de_dt  de_hr  buy_am  buy_ct
0  4008  002108      A01   0215     2  20150216     13   59600       2
1  6379  002109      A01   0075    29  20150213     11   35000       1
2  6379  002109      A01   0149     4  20150115     10   85000       1
3  8002  002110      A01   0138    10  20151220     10   25000       1
4  8002  002110      A01   0138    10  20151220     10   21000       1

In [3]:
basket = shop_data.groupby(['rct_no','pd_s_c'])['buy_ct']\
.sum().unstack().reset_index().fillna(0).set_index('rct_no')
basket.head()

pd_s_c,0001,0002,0003,0004,0005,0006,0007,0008,0009,0010,...,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627
rct_no,,,,,,,,,,,,,,,,,,,,,
000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
000005,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
print('basket shape = ',basket.shape)
print('# of unique rct_no = ',len(shop_data.rct_no.unique()))
print('# of unique pd_s_c = ',len(shop_data.pd_s_c.unique()))

basket shape =  (481778, 1627)
# of unique rct_no =  481778
# of unique pd_s_c =  1627

In [5]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

basket_sets = basket.applymap(encode_units)

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
#get frequent itemsets 
frequent_itemsets = apriori(basket_sets,min_support=0.001,use_colnames=True)

In [ ]:
rules = association_rules(frequent_itemsets,metric='lift')
rules.head()

In [ ]:
frequent_itemsets